.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 10px;
    color: white;
}

.dialog {
    height: 4em;
    display: flex;
    align-items: center;
}
.dialog img {
    height: 50px;
    width: 50px;
    border-radius: 30px;
}

.dialog a {
    text-decoration: none;
    color: white;
    margin: 0;
    padding-left: 10px;
 /*   position: ;
    top: 50%;
    transform: translate(0, -50%)*/
}

.messages {
    padding: 10px;
}

.dialogItems .active {
    color: gold;
}

.messages .message {
    color: white;
}